.DropDownList{
    position: absolute; /* position result list absolutely */
    top: calc(100% + 5px); /* set top position to input height + padding */
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--scheme-color-01);
    width: 100%;

    z-index: 100;
    /*backdrop-filter: blur(5px); */
}
.DropDownList:hover{
    background: var(--scheme-color-01);
}
.option:hover{
    cursor: pointer;
}