.ChampThumbnail{
    position: fixed;
    background: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
    z-index: -1;
    transform: translateZ(-10);
    transition: top 0.5s ease-in-out, left 0.5s ease-in-out;
}
.ChampThumbnail:hover,
.ChampThumbnail:focus {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

.frame{
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    position: relative;
}

.clipped-image{
    width: 173%;
    height: 173%;
    overflow: hidden;
    position: relative;
    transform: translate(-38.25%, -38.25%);
    object-fit: contain;
    resize: both;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    z-index: -2;
}
.darken{
    filter: sepia(100%) saturate(0%) brightness(100%) contrast(100%);
}

.name-tag{
    position: absolute;
    z-index: 1;
    text-align: center;
    top: 66%;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

